body {
    margin: 0;
    min-width: 250px;
    background-color: palegreen;
  }
  
  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }

  h2 {
    padding: 15px;
    margin: 5% 25% 3% 25%;
    width: 50%;
    background-color: darkslategray;
    color: white;
    font-size: 50px;
    text-align: center;
    border: 1px solid darkslategray;
    border-radius: 10px;
  }

  i.fas {
    margin: 0 49% 0 49%;
    font-size: 50px;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-show {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  li {
      padding: 2px;
      width: 80vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 18px;
      position: relative;
      left: 30px;
      list-style: none;
      border-bottom: 1px solid limegreen;
      
  }

  .span-todo {
      margin-left: 20px;
      font-size: 20px;
  }

  .checked {
      text-decoration: line-through;
      color: black;
  }

  .btn-delete, .btn-edit, .btn-done, .addBtn {
      padding: 13px;
      margin-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid black; 
      border-style: none;
      border-radius: 15px;
      letter-spacing: 2px;
      font-size: 16px;
      font-style: oblique;  
      align-content: center;
      background-color: lightgrey; 
      transition: all .5s ease;
      cursor: pointer;
  }

  .btn-delete:hover, .btn-edit:hover, .btn-done:hover, .addBtn:hover {
      background-color: limegreen;
  }

  .btn-delete:focus, .btn-edit:focus, .btn-done:focus {
      outline-style: none;
  }

  .btn-delete { 
      margin-left: 200px;
  }

  .text { 
    font-size: 20px;
    margin: 0 5px;
  }
  
  .addTodo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80vw;
      margin-top: 50px;
      margin-bottom: 20px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }

  #addTodo {
      margin-left: 20px;
      font-family: sans-serif;
  }

  #myInput {
      width: 50%;
      padding: 20px;
      font-size: 20px;
      border-radius: 10px;
      margin-left: 20px;
  }

  li:nth-child(odd) {
      background-color: lemonchiffon;
  }
